.nav {
	height: 25px;
	width: 25px;
	border-width: 5px;
	border-color: black;
	text-align: center;
}

#indexbutton {
	position: fixed;
	top: 0;
	left: 0;
}

#aboutmebutton {
	position: fixed;
	top: 0;
	right: 0;
}

#resumebutton {
	position: fixed;
	bottom: 0;
	left: 0;
}

#contactbutton{
	position: fixed;
	bottom: 0;
	right: 0;
}